.item {
  display: flex;
  font-family: "TT Lakes Medium", sans-serif;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: space-between;
  background-color: white;
  border: 1px solid $item-border;
  border-radius: 6px;
  &:hover {
    box-shadow: 10px 5px 10px black;
    transition: 1s;
  }
  .kinds__item &__arrow {
    top: 85px;
  }
  &__title {
    color: $menu-text-color;
    margin-top: 10px;
  }
  &__title-text {
    margin-top: 5px;
  }
  &__button {
    padding: 4px 0;
    position: relative;
    right: -110px;
    bottom: 30px;
    font-family: "TT Lakes Bold";
    font-size: 12px;
    width: 119px;
    height: 35px;
    background-color: $button-arrow;
    color: $white;
    border-radius: 16px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-align: left;
    text-indent: 10px;
    &::after {
      position: absolute;
      content: url("../img/arrow_white.svg");
      z-index: 2;
      right: 18px;
    }
  }
  &__arrow {
    position: relative;
    background-color: inherit;
    width: 36px;
    height: 36px;
    border: 2px solid $button-arrow;
    border-radius: 20px;
    &::before {
      position: absolute;
      content: "";
      width: 8px;
      border-top: 2px solid $button-arrow;
      transform: rotate(135deg);
      right: 37%;
      top: 53%;
    }
    &::after {
      position: absolute;
      content: "";
      width: 8px;
      border-top: 2px solid $button-arrow;
      transform: rotate(45deg);
      right: 37%;
      top: 40%;
    }
    &:hover {
      background-color: #efe9f0;
    }
  }
}
