.price-services {
  font-size: 14px;
  margin-left: 16px;
  margin-top: 50px;
  &__item {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    width: 224px;
    height: 200px;
    padding-left: 16px;
  }
  &__about-NDS {
    margin-top: 42px;
    width: 260px;
    line-height: 20px;
    text-align: left;
  }
  &__commercial-proposal {
    position: relative;
    margin-top: 16px;
    font-family: "TT Lakes Medium";
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    &::after {
      content: url("../img/arrow_pink.svg");
      position: absolute;
      right: 70px;
    }
  }
  &__swiper {
    margin-left: -8px;
  }
}
