.services {
  position: relative;
  padding-top: 43px;
  &__container {
    margin-left: 17px;
  }
  &__title {
    font-family: "TT Lakes Bold";
    position: relative;
    font-style: bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.8px;

    &::before {
      position: absolute;
      width: 4px;
      height: 40px;
      content: "";
      left: -16px;
      background-color: $turquoise;
    }
  }
  &__shadow {
    position: absolute;
    width: 24px;
    height: 40px;
    background: $swiper-shadow;
    right: 0;
    top: 30%;
    z-index: 2;
  }
  &__swiper {
    margin-top: 25px;
  }
  &__text {
    width: 288px;
    margin-top: 24px;
    font-family: "TT Lakes Regular";
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }
  &__read-more {
    margin-top: 14px;
    margin-left: 32px;
    position: relative;
    font-family: "TT Lakes Medium";
    font-size: 16px;
    font-weight: medium;
    line-height: 24px;
    letter-spacing: -0.2px;
    &::before {
      content: url(../img/read-more.webp);
      position: absolute;
      left: -25%;
    }
  }
  &__img {
    margin-top: 16px;
  }
}
