@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";
@import "header";
@import "site-container";
@import "services";
@import "swiper";
@import "item";
@import "repair";
@import "brands";
@import "kinds";
@import "price-services";
@import "footer";

.inner {
  position: relative;
}

.section {
  &__title {
    font-family: "TT Lakes Regular";
    font-size: 16px;
    line-height: 24px;
    background: linear-gradient(270deg, #ffffff 0%, #f8f8f8 98.61%);
    padding: 16px 0;
    color: $menu-text-color;
  }
}
